@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    user-select: none;
}

body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.content {
    background-color: rebeccapurple;
    color: #fff;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    letter-spacing: 0.1rem;
    padding: 2rem;
}

.create-container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}

canvas {
    background-color: #fff;
    cursor: crosshair;
    border: solid 5px #9966CC;
}

.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    row-gap: 1rem;
}

.instructions{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.instructions .title {
    font-size: 1.5rem;
    margin: 1rem;
}

.instructions > span {
    font-size: 1.5rem;
    background-color: #fff;
    color: rebeccapurple;
    padding: 1rem;
    margin: 1rem;
    border: solid 5px #9966CC;
}

.letter-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    align-items: center;
    padding: 1rem;
    height: 260px;
    width: 750px;
    border: solid 5px #9966CC;
    margin: 1rem;
}

.container-row > img {
    width: 3rem;
    height: 3rem;
    background-color: #fff;
}

.submit-btn{
    font-family: inherit;
    font-size: 1.25rem;
    background-color: #9966CC;
    color: #fff;
    border: 3px solid #9966CC;
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover{
    border-color: #fff;
}

.finished-btn,
.non-clickable-link{
    background-color: rebeccapurple;
    color: #9966CC;
    pointer-events: none;
}



